<div class="app_container">
  <div class="app_container--left_col">
    <div class="sidebar-container">
      <app-sidebar [sidebarConfig]="sidebarData"></app-sidebar>
    </div>
  </div>
  <div class="app_container--right_col">
    <div class="header-container"></div>
    <router-outlet></router-outlet>
  </div>
</div>