@import "../styles.styl"
.app_container
    flexbox()
    flex-direction(row)
    width $100PERCENT
    height $100PERCENT

    .app_container--left_col
        flexbox()
        width 200px
        height $100PERCENT
        background-color $VIOLET

    .app_container--right_col
        flexbox()
        width calc(100% - 200px)
        height $100PERCENT
