@import "../../styles.styl"
ul
    flexbox()
    flex-direction(column)
    list-style none
    padding(0)
    width 200px
    align-items(flex-start)
    justify-content(flex-start)

    li
        padding(15px)
        color #fff
        flexbox()
        flex-direction(row)
        align-items(center)
        i
            padding(0 10px 0 0)
            color rgba(166, 164, 204, 1)