@import "../../styles.styl"
.dashboard_container
    display block
    width calc(100% - 60px)
    height $100PERCENT
    margin(0 auto)

    .dashboard_container--header_container
        p
            font-size 1.5rem
            margin(20px 0 0 0)

    .dashboard_container--widget_container
        flexbox()
        width $100PERCENT
        height 150px
        flex-direction(row)
        align-items(center)
        justify-content(space-between)

        .card
            box-shadow(0px 2px 4px -1px rgba(199, 199, 199, 1))
            border 0
            width 30%

            .card-body
                flexbox()
                flex-direction(column)
                padding(0.5rem)

                .card-body--header
                    margin(0)

                    span
                        color rgba(169, 169, 169, 1)

                .card-body--body
                    flexbox()
                    flex-direction(row)

                    .card-body--body--left-col
                        flexbox()
                        flex-direction(column)

                        .card-body--body--left-col__positive
                            color rgba(137, 183, 53, 1)
                        .card-body--body--left-col__negative
                            color rgba(181, 50, 50, 1)

                        h1
                            font-size 1.5rem
                            font-weight 600
                            margin 0
                        h2
                            font-size 0.95rem
                            margin 0

    .dashboard_container--statistics_container
        .card
            box-shadow(0px 2px 4px -1px rgba(199, 199, 199, 1))
            border 0
            width 100%
