<div class="dashboard_container">
  <div class="dashboard_container--header_container">
    <p>Overview</p>
  </div>
  <div class="dashboard_container--widget_container">
    <div class="card mb-3" *ngFor="let widget of widgetProp">
      <div class="card-body">
        <div class="card-body--header">
          <span>{{widget.name}}</span>
        </div>
        <div class="card-body--body">
          <div class="card-body--body--left-col">
            <h1>{{widget.value}}</h1>
            <h2 [ngClass]="{'card-body--body--left-col__negative': widget.change_code === 'NEGATIVE', 'card-body--body--left-col__positive': widget.change_code === 'POSITIVE'}"><i class ="fas" [ngClass]="{'fa-angle-down': widget.change_code === 'NEGATIVE', 'fa-angle-up': widget.change_code === 'POSITIVE'}"></i>{{widget.change}}</h2>
          </div>
          <div class="card-body--body--right-col"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard_container--statistics_container" *ngIf="statisticsChartProp.data.length > 0">
    <div class="card mb-12">
      <div class="card-body">
        <div class="card-body--header">
          <span>Statistics</span>
        </div>
        <div class="card-body--body">
          <canvas baseChart width="400" height="100"
            [datasets]="statisticsChartProp.data"
            [labels]="statisticsChartProp.labels"
            [options]="statisticsChartProp.options"
            [colors]="statisticsChartProp.colors"
            [legend]="statisticsChartProp.legend"
            [chartType]="statisticsChartProp.type"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>