/* You can add global styles to this file, and also import other style files */
@import "./assets/styl/_variables"
@import "./assets/styl/_mixins"

html
body
app-root
    display block
    width $100PERCENT
    height $100PERCENT


app-dashboard
    flexbox()
    width $100PERCENT
    height $100PERCENT
    background-color #F0F0F7
    
app-sidebar
    flexbox()
    width $100PERCENT